iframe {
  display: none;
}

h2 {
  --typography-spacing-vertical: 0.625rem;
}
h6 {
  --typography-spacing-vertical: 0.5rem;
}

nav [data-tooltip-html] {
  border-bottom: none;
}

nav a {
  margin-left: 0.2em;
}

nav .icon {
  width: 1.25em;
}

small {
  --font-size: 0.75em;
}

.loading {
  display: block;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  position: relative;
}

form > label {
  margin-bottom: 1.5em;
}

h2 {
  --form-element-spacing-vertical: 0.25rem;
  --form-element-spacing-horizontal: 0.5rem;
}

nav select {
  max-width: 20em;
}

h2 button {
  width: auto;
  float: right;
  display: inline-block;
  margin: 0.5em;
}

.errors {
  color: #cd3232;
}

.errors code {
  white-space: pre-line;
  line-height: 1.8em;
}

h6 .errors:first-child {
  margin-right: -1rem;
}

ul.errors {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

h6 span,
h6 a,
h6 small {
  margin-left: 1.25rem;
}

h6.left {
  text-align: left;
}

h4 + h6 {
  margin-top: -1.5em;
}

.selections,
.selection,
.edit-entry {
  max-height: calc(100vh - 7em);
  overflow: auto;
}

.selections table {
  --spacing: 0.5rem;
}

.selections td {
  --font-size: 0.8em;
  --spacing: 0.5rem;
  cursor: pointer;
}

.selections th {
  cursor: pointer;
}

[data-indent='2'] td:first-child {
  padding-left: calc(var(--spacing) * 2);
}
[data-indent='3'] td:first-child {
  padding-left: calc(var(--spacing) * 3);
}
[data-indent='4'] td:first-child {
  padding-left: calc(var(--spacing) * 4);
}
[data-indent='5'] td:first-child {
  padding-left: calc(var(--spacing) * 5);
}

.selections th {
  padding-left: 0;
}

.selections .cost {
  white-space: nowrap;
}

article section {
  border: 1px solid var(--secondary);
  border-bottom-width: 0;
  margin: 0;
  padding: calc(var(--spacing) / 2);
}

article section:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

article section:last-child {
  border-bottom-width: 1px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

summary {
  padding: 0;
}

.grid.colums {
  grid-column-gap: 0;
}

.grid.columns > div {
  border-right: 1px solid var(--secondary);
  padding: 0 var(--spacing);
}

.grid.columns > div:first-child {
  padding-left: 0;
}

.grid.columns > div:last-child {
  padding-right: 0;
  border-right: none;
}

:where(table) {
  border-collapse: initial;
}

.selections [has-error] td,
.selections [has-error] th {
  border-color: red !important;
  border: 1px dotted;
}

.selections [has-error] td:first-child {
  border-right: 0px;
}

.selections [has-error] td:nth-child(2) {
  border-right: 0px;
  border-left: 0px;
}
.selections [has-error] td:last-child {
  border-left: 0px;
}

.selections .selected td:first-child,
.selections .selected th:first-child {
  font-weight: 700;
  text-decoration: underline;
}

.selection {
  position: relative;
}

.selection nav {
  float: right;
  position: relative;
  z-index: 1;
}

.selection nav button {
  margin: 0 calc(var(--spacing) / 2);
  padding: 0 calc(var(--spacing) / 2);
  width: auto;
}

.add-unit {
  cursor: copy;
}

.selection > h6 {
  cursor: pointer;
}

.selection article {
  --block-spacing-vertical: 1rem;
  --block-spacing-horizontal: 1.5rem;
}

.selection article + article {
  margin-top: calc(var(--spacing) * -1.5);
}

.profile {
  margin-bottom: calc(var(--spacing) / 2);
  padding-bottom: calc(var(--spacing) / 2);
}

.profile td,
.profile th {
  padding-left: calc(var(--spacing) / 2);
  padding-right: calc(var(--spacing) / 2);
}

header[data-tooltip-html] {
  border-color: red !important;
  border: 1px dotted;
}

[data-tooltip-html] {
  border-bottom: 1px dotted;
}

button[data-tooltip-html] {
  border-bottom: 1px solid;
}

details[role='list'] summary + ul li {
  margin-bottom: 0.5em;
}

input[data-tooltip-html] {
  border-bottom: var(--border-width) solid var(--border-color);
}

article > article {
  margin-left: calc(var(--block-spacing-horizontal) * -1);
}

dialog article {
  width: 100%;
}

dialog fieldset {
  text-align: center;
}

dialog code {
  margin: auto;
  display: block;
  width: fit-content;
}

@media (min-width: 1200px) {
  dialog article {
    max-width: 1130px;
  }
}

.container > article {
  margin-bottom: -1px;
  margin-top: 0;
  padding: 0;
}

.selection input[type='number'] {
  display: inline-block;
  width: 3rem;
  padding: 0.5rem;
  height: auto;
  margin: 0 0.5rem 0 0;
}

#tooltip {
  max-width: 40rem;
  white-space: break-spaces;
  z-index: 1000;
}

#clickable-tooltip input {
  --box-shadow: 0 0 0 var(--outline-width) var(--form-element-focus-color);
}

nav ol:first-of-type,
nav ul:first-of-type {
  margin-left: 0;
}

nav {
  --nav-link-spacing-vertical: 0.75rem;
  --nav-element-spacing-vertical: 0.75rem;
  --form-element-spacing-vertical: 0.25rem;
}

nav li {
  line-height: 1em;
}

div > button {
  width: auto;
  display: inline-block;
  margin-right: var(--spacing);
}

.category th[open]::after {
  transform: rotate(0);
}

.category th::after {
  display: block;
  width: 1rem;
  height: 1rem;
  -webkit-margin-start: calc(var(--spacing, 1rem) * 0.5);
  margin-inline-start: calc(var(--spacing, 1rem) * 0.5);
  float: right;
  transform: rotate(-90deg);
  background-image: var(--icon-chevron);
  background-position: right center;
  background-size: 1rem auto;
  background-repeat: no-repeat;
  content: '';
  transition: transform var(--transition);
}

.rule,
.profile {
  white-space: break-spaces;
}

[role='link'] {
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

.text-roster {
  white-space: break-spaces;
}

.view-roster article {
  margin: 0;
  padding: 0.5rem;
}

.view-roster header {
  margin: 0;
  padding: 0.5rem;
}

dialog article article {
  max-height: inherit;
}

.refresh-id {
  float: right;
  width: auto;
}

.add-entry {
  float: right;
  width: auto;
  margin-left: var(--spacing);
  --form-element-spacing-vertical: 0.1rem;
  --form-element-spacing-horizontal: 0.25rem;
  --line-height: 1;
}

.edit-file input[disabled] {
  width: calc(100% - 3rem);
}

.edit-file {
  --spacing: 0.5rem;
  --form-element-spacing-horizontal: 0.5rem;
  --form-element-spacing-vertical: 0.25rem;
}

.edit-file input,
.edit-file select {
  margin-bottom: 0;
}

.edit-file label {
  display: inline;
}

.react-select__placeholder,
.react-select__single-value {
  padding: 0 var(--form-element-spacing-horizontal);
}

.react-select__indicators {
  margin-right: var(--form-element-spacing-horizontal);
}

.react-select__control {
  background: var(--form-element-background-color);
  border: 1px solid var(--form-element-border-color);
  border-radius: var(--border-radius);
}

.react-select__control--menu-is-open {
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.react-select input {
  position: relative;
  left: var(--form-element-spacing-horizontal);
  --box-shadow: none !important;
}

.react-select__menu-list {
  background: var(--form-element-background-color);
  border: 1px solid var(--form-element-border-color);
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.react-select__option {
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}

.publication {
  width: calc(100% - 5rem);
}

input.page {
  float: right;
  width: 4.5rem;
}

.grid.print {
  margin: auto;
  width: 24em;
}

.grid.print button {
  align-self: center;
  justify-self: center;
  margin: 0;
  padding: 0 calc(var(--spacing) / 2);
}

@media print {
  /* All your print styles go here */
  .container > header,
  .container > article {
    display: none;
  }

  .container {
    max-width: inherit;
  }

  .modal-is-open {
    overflow: auto;
  }

  dialog {
    padding: 0;
    position: inherit;
    display: initial !important;
  }

  .print {
    display: none;
  }

  .view-roster {
    width: 100%;
    max-width: 100%;
    background: var(--card-background-color);
    min-height: 100vh;
  }

  dialog > article {
    margin: 0;
  }

  dialog article {
    max-width: 100%;
    box-shadow: none;
    max-height: none;
  }

  .view-roster.onePerPage > article {
    break-after: page;
  }
  .view-roster.onePerPage > article:last-child {
    break-after: auto;
  }

  .view-roster.onePerPage > h4,
  .view-roster.onePerPage > h5 {
    display: none;
  }
}
